* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: #EBEBEB;
    font-family: "Trebuchet MS";
}

#conteudo{
    background-color: #FFFFFF;
    min-height: 100%;
    width: 530px;
    margin: 5% auto;
    padding: 50px 55px 40px;
    border: 1px solid #ccc;
}

#conteudo h4{
    font-weight: bold;
    padding-bottom: 20px;
}

#conteudo .row {
    margin-bottom: 12px;
}

#despesa-fixa, #despesa-parcelada{
    margin-right: 8px;
}

.form-class {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.form-class:focus {
    border-color: #EB6F68;
    outline: 0;
}

.obs-box {
    margin-top: 12px;
}

textarea.form-class {
    height: auto;
}

#box-repetir .form-group {
    margin-bottom: 0px;
}

#btn-repetir, #btn-salvar {
    padding: 6px 12px;
    outline: 0;
    border: none;
}

#btn-salvar {
    width: 150px;
    margin: 15px 131px 0px;
}

.error {
	color: red;
	font-size: 14px;
}