.imagem{
   width: 591px;
    margin-left: 411px;
    margin-top: 167px;
    margin-bottom: 40px;
	
}

#fonte{
	font-family: Trebuchet MS;
	color: #12628D;
	font-size: 30px;
	font-weight: bolder;
	margin-left: 498px;
	
}