* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	background-color: #EBEBEB !important;
	font-family: "Trebuchet MS" !important;
}

#titulo-despesa {
	text-transform: uppercase;
	color: #FA4A4A;
	letter-spacing: 0.5px;
}

#titulo-receita {
	text-transform: uppercase;
	color: #56CAA4;
	letter-spacing: 0.5px;
}

#box-tabela {
	background-color: #FFFFFF;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 25px 45px;
	box-shadow: 3px 3px 20px;
	margin-top: 6%;
}

#box-tabela h3 {
	display: inline;
}

#mes-atual {
	text-align: center;
}

#mes-atual input {
	margin-right: 20px;
	margin-left: 20px;
}

/************************************************************************
************************************** Formatação dos botões ***********/
#btn-anterior {
	background-color: white;
	background-image: url("../imagens/left-arrow.png");
	width: 24px;
	height: 24px;
	border: 0;
}

#btn-proximo {
	background-color: white;
	background-image: url("../imagens/right-arrow.png");
	width: 24px;
	height: 24px;
	border: 0;
}

#btn-editar {
	background-color: transparent;
	background-image: url("../imagens/edit.png");
	width: 24px;
	height: 24px;
	border: 0;
	margin-right: 30px;
}

#btn-consultar {
	background-color: transparent;
	background-image: url("../imagens/search.png");
	width: 24px;
	height: 24px;
	border: 0;
}

#btn-anterior:focus, #btn-proximo:focus, #btn-editar:focus,
	#btn-consultar:focus {
	outline: 0;
}

/************************************************************************
************************************** Formatação da tabela ***********/
table {
	width: 100%;
	font-size: 17px;
}

table tr {
	height: 50px;
	border-bottom: 1px solid #EEE;
}

table tr:hover {
	background-color: #EAEAEA;
	transition: 0.3s;
}

table tbody td:first-child {
	padding-left: 10px;
}

table tbody td:nth-child(1), table tbody td:nth-child(2) {
	width: 200px;
}

table tbody td:nth-child(3), table tbody td:last-child {
	text-align: center;
	width: 120px;
}

.box-grafico {
	background-color: #FFF;
	width: 400px;
	min-height: 100%;
	border: 2px solid #CCC;
	margin-top: 3%;
	
}

/***********************************************************************************************/
/********************************************* Formatação do box de consulta *******************/

.box-consulta {
	background-color: white;
	margin: 385px 0px 0px 0px;
	width: 100%;
	height: 400px;
	font-size: 15px;
}

.box-consulta .row {
	margin: 40px 0px;
}

.box-acoes button {
	width: 130px;
	margin-left: 10px;
}

.rodape {
	position: absolute;
	bottom: 0;
	
}