/* Seletores */

body {
	background-color: #eaeaea;
}

/* Classe */

.container{
	background-color: white;
    width: 600px;
    height: 390px;
    border: 2px #31b0d5 solid;
    box-shadow: 0px 0px 16px #333;
    margin-top:130px;
}
.titulotab{
	font-size:30px;
	font-family:Trebuchet MS;
	color: #286090;
	padding: 30px 0px 40px 250px;
}
	
.form-group {
    margin-bottom: 43px;
}

.titulinhos {
	font-size: 17px;
	padding-right: 5px;
	color: #286090;
	font-family:Trebuchet MS;
}

/* ID */

#lemail{
	display: inline;
	width: 500px;
}

#lsenha{
	display: inline;
	width: 500px;
}

#esqueci{
	font-size: 13px;
    color: #0067b8;
    padding-left: 236px;
    font-family:Trebuchet MS;
}

#botaologar{
	width: 127px;
	margin: 40px 0px 0px 236px;
	font-family:Trebuchet MS;
}
