/* Seletores */

body {
	background-color: #eaeaea;
}

nav {
	background-color: #009299;
}

a {
	color: white;
}

ul {
	color: #000000;
}

/* Classe */

.cadastrar {
    background-image: url("../imagens/mo.png"); /* Eu particularmente prefiro sem a imagem, mas é assim que se pega
    												corretamente */
}

.cadastro{
	margin-left: 390px;
    margin-top: 120px;
	height: 390px;
    width: 600px;
	background-color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	border: 1px red solid;
}

.modal-content{

	width: 600px;
    margin: 190px 0px 0px 157px;
	border: 2px solid #d9534f;
}

.modal-body{
	
padding: 65px;
}

.efetuarLogin{

    font-size: 20px;
    color: #d9534f;
    font-weight: bold;
    padding-left: 20px
}

.nome{
	font-size: 16px;
    margin-top: 50px;
}

.email{
	font-size: 16px;
}

.senha{
	font-size: 16px;
}

/* ID */

#nome{
	display: inline;
	width: 500px;
}

#email{
	display: inline;
	width: 500px;
}

#senha{
	display: inline;
	width: 500px;
}


#lemail{
	display: inline;
	width: 500px;
}

#lsenha{
	display: inline;
	width: 500px;
}
#botao{
	width: 120px;
	height:40px;
	font-size: 16px;
	float: left;
	margin-left: 250px;
	margin-top: 10px;
	font-weight: bold;
}

#botaoLogin{
	width: 120px;
	height:40px;
	font-size: 16px;
	float: top;
	margin-left: 1200px;
	margin-top: 30px;
}

#esqueci{
	font-size: 11px;
	color: #0067b8;
}

* {
    font-family: Verdana;
    font-size: 96%;
}
label.error {
    float: none;
    color: red;
    margin: 0 .5em 0 0;
    vertical-align: top;
    font-size: 10px
}
p {
    clear: both;
}
.submit {
    margin-top: 1em;
}
em {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}