/* Seletores */

body {
	background-color: #ccc;
}

nav {
	background-color:#000000;
	font-family:Trebuchet MS;
}

a {
	color: white;
}

ul {
	color: #000000;
}
button.navbar-toggle{
	color: white;
}
/* Classe */

.centro{
	margin-top: 5px;
	height: 40px;
	width: 200px;
	position: absolute;
}
.centroo{
	margin-top: -5px;
	margin-left: -40px;
	position: absolute;
}

.navbar-brand, .navbar-nav>li>a {
	color:white;
}

a.dropdown-toggle {
  padding-left: 31px;
  padding-bottom: 34px;
}

/* ID */

#home{
	margin: 0px 0px 0px 426px;
}

#margem{

	margin: auto 0;
}

#iconeConfig{
 height: 55px;
}

#iconeFoto{

width:55px;
height:35px;
}