/* Seletores */

body {
	background-color: #ccc;
}

nav {
	background-color:#000000;
	font-family:Trebuchet MS;
}

a {
	color: white;
}

ul {
	color: #000000;
}

/* Classe */

.centro{
	margin-top: 5px;
	height: 40px;
	width: 200px;
	position: absolute;
}

.navbar-brand, .navbar-nav>li>a {
	color:white;
}

/* ID */

#home{
	margin: 0px 0px 0px 426px;
}

#margem{

	margin: auto 0;
}

#iconeConfig{
 height: 55px;
}

#iconeFoto{

width:25px;
height:25px;
}