body {
	background-color: lightgray;
	font-family: Trebuchet MS;
}

h4 {
	font-weight: bold;
}

i {
	padding-right: 5px;
}

.box-detalhe {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 50px;
	min-height: 100%;
	margin-top: 5%;
}

.box-container {
	padding: 50px;
	font-size: 17px;
}

.box-acoes {
	padding: 20px;
}

.botoes-acao {
	float: right;
	padding: 0px;
}